.NavProducts {
  color : white;
    text-decoration: none;
}
.NavProducts:hover {
    background: grey;
    border-radius: 5px;
}
.NavProducts:active {
   color:darkslategray;
}



.NavCart {
    color : white;
    text-decoration: none;
}
.NavCart:hover {
    border-radius: 10px;
    background: grey;
}
.NavCart:active {
    color:darkslategray;
}

